/* CSS declarations go here */

.fixed-height
  height: 150px
  overflow: auto
  &.small
    height: 2.5em
.fixed-width
  width: 9em
  display: inline-block
.hidden
  display: none
.margin
  &.horizontal
    &.small
      margin-right: 1ex
      margin-left: 1ex
  &.vertical
    margin-top: 1em
    margin-bottom: 1em
  &.small
    margin: 1ex
.padding
  &.small
    padding: 1ex
.border
  border: 1px solid
.absolute
  position:absolute
.pointer
  cursor: pointer
.transparent
  background: transparent

.messages
  height: 10em

textarea[name='description']
  margin-left: 2px
  width: 189px

.red
  background: #D24B4C
.blue
  background: #0AA5DF
.purple
  background: #564F8A
.orange
  background: #DA683B

.search.icon.default-margin
  margin: 0em 0.25em 0em 0em !important

.menu
  background: url('/gray_texture.png')
  padding: 1ex
  padding-right: 6em
  position: fixed
  z-index: 1
  left: 0

.sidebar
  top: 4em !important
  padding-left: 1em
  padding-right: 1em

#chat
  color: black

body
  font-family: Helvetica, Arial
  color: rgb(205, 204, 206)

button.skill, button.hide-results
  width: 100%
  border-radius: 0 !important

button.remove
  padding: 2px !important

input.new-message
  margin-left: 0;
  width: 99%;

.skill.label
  padding: 2px
